/* index.css or global.css */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1a0000;
  color: #fff;
  font-family: 'Space Grotesk', sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}
